html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.page {
  background: white;
  z-index: 1;
  min-block-size: calc(100vh - 76px);
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example-1 {
  overflow: hidden;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  transition: height 0.2s;
  align-items: flex-start; /* Add this */
}
.embla__slide {
  flex: 0 0 100%;
}

.contact-content > div > ul {
  list-style-type: initial;
  color: #B792FA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content > li {
  text-align: center;
  margin: 0;
}

.contact-main {
  min-block-size: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
}

.contact-img {
  inline-size: 100%;
  min-block-size: 30vh;
  background-image: url("/contact/main.webp");
  background-repeat: no-repeat;
  background-position: center -10vh;
  background-size: cover;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: flex;
  justify-content: center;
  gap: 4rem 2rem;
}


@media (min-width: 800px) {
  .contact-main {
    flex-direction: row;
  }
  .contact-img {
    background-position: center;
    background-size: cover;
  }
  .contact-content {
    flex-direction: row;
  }
}